.bd-auth{
    &__form{
        background: $gray-100;
        padding: 2rem 2rem;
        border-radius: 1rem;
        margin: 0 auto;
    }
    &__img{
        width: 100%;
        max-height: 450px;
    }
}