.bd-banner{
    display: flex;
    position: relative;
    z-index: 0;
    overflow: hidden;

    &::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #2e2e2ea3;
        z-index: 1;
        left: 0;
        top: 0;
    }

    &__img{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        left: 0;
        top: 0;
    }

    &__link{
        font-size: 1.25rem;
        font-weight: 500;
        & svg{
            fill:$white;
        }
    }

    &__slogan-wrapper{
        z-index: 1;
        padding: 2rem 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        @include media-breakpoint-up(lg){
            padding: 7.5rem;
        }
    }

    &__h1{
        max-width: 45rem;
        color: $white;
        font-weight: 600;
        letter-spacing: 3px;
        font-size: 4.5rem;
        font-family: 'Elsie Swash Caps', cursive;
    }

    &__buttons{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap:2rem;
    }
}