.bd-product-card{
    width: fit-content;
    border:1px solid $gray-200;
    border-radius: 16px;
    background: $gray-100;
    &__img-wrapper{
        width: 100%;
        position: relative;
        background: #eeee;
        border-radius: 16px;
        & img{
            border-radius: 16px;
            width: 300px;
            height: 250px;
            object-fit: cover;
        }
    }

    &__details{
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }

    &__price-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
    }

    &__price{
        font-size: 20px;
        font-weight: bold;
    }

    &__like{
        padding: 0;
    }

    &__title{
        font-size: 16px;
        margin-bottom: 0.875rem;
    }

    &__footer{
        font-size: 14px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: #919090ee;
    }

    &__condition{
        position: absolute;
        top: 1rem;
        left: 1rem;
        background: $primary;
        padding: 4px 12px;
        border-radius: 1rem;
        color: #ffffff;
        font-size: 14px;
    }
}