.bd{
    &__more{
        display: flex;
        width: 100%;
        text-align: center;
        font-weight: bold;
        font-size: 16px;
        cursor: pointer;
        justify-content: center;
        margin-top: 1rem;
    }
    &__link{
        color: #666;
        text-decoration: none;
    }

    &__title{
        font-size: 1.25rem;
        font-weight: bold;
    }
}

.bd-product-wrapper{
    display: flex;
    flex-direction: row;
    gap:1rem;
    width: 100%;
    overflow: auto;

    &__list{
        display: flex;
        flex-direction: row;
        gap:1rem;
        flex-wrap: wrap;
    }
}