.bd-footer{
    background: $gray-900;
    padding: 2rem;

    &__quicklinks{
        color: $white;
        padding:0;
        list-style: none;
    }

    &__img{
        width: 100%;
        height: 100%;
    }

    &__link{
        text-decoration: none;
        color: $white;
        font-size: 0.875rem;
    }

    &__title{
        color: $white;
        margin-bottom: 1rem;
    }

    &__sub-title{
        font-size: 0.875rem;
    }

    &__h1{
        font-weight: 200;
    }
}