.navbar{
    position: sticky;
    top:0;
    z-index: 1;
    --bs-bg-opacity: 0.7;
    backdrop-filter: blur(32px);
    &__topbar{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    &__icon{
        font-weight: bold;
        color: $blue;
        text-decoration: none;
        display: inline-block;
    }
    &__mainbar{
        @include media-breakpoint-up(lg){
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
    &__subbar{
        display: flex;
        flex-direction: column;
        align-items: center;
        @include media-breakpoint-up(lg){
            flex-direction: row;
        }
    }

    &__mainbar-right{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 1rem;
        float: right;
        gap: 0.5rem;
        @include media-breakpoint-up(lg){
            margin-top: 0;
        }
    }

    & .navbar-nav{
        display: flex;
        flex-direction: row;
    }
    .navbar-toggler{
        width: fit-content;
        float: right;
    }

    .navbar-collapse{
        margin-top: 1rem;
        @include media-breakpoint-up(lg){
            margin-top: 0;
        }
    }

    &__avatar{
        background: $primary;
        color: $white;
        border-radius: 50%;
        font-weight: 500;
    }

    &__dropdown-logout{
        & svg{
            margin-right: 1rem;
        }
    }
}